Plugins>Registration, "MultiStackReg", de.embl.cmci.registration.MultiStackReg_
Plugins>Registration, "Compress  Matrices", de.embl.cmci.registration.Compress_Matrices
Plugins>Merview, "Merview", de.embl.cmci.registration.Merview
Plugins>Merview, "Cross-(Not Implemented)", de.embl.cmci.registration.Merview
Plugins>Merview, "Up-Rez(Not Implemented)", de.embl.cmci.registration.Merview
Plugins>Merview, "Rotate to(Not Implemented)", de.embl.cmci.registration.Merview